<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- Header -->
<header id="header" class="alt" style="background-color:black; top: 0">
    <div class="logo"><a href="/">PhotoContest <span>by TEAM 18</span></a></div>
    <a>
        <tl th:if="${currentUser != null }">
            <img src="#" th:src="${currentUser.getPicture()}" alt="Avatar" class="avatar"
                 style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
            <a href="#" th:text="${currentUser.firstName}" th:href="@{/users/{id}(id=${currentUser.id})}">Username</a>
        </tl>
    </a>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<div th:include="general.html :: nav-bar"></div>


<!-- Two -->
<section id="two" class="wrapper style3" th:style="|background-image:url(../img/a2.jpg);|">
    <div class="inner">
        <header class="align-center">
            <h2>What is Photo Contest? </h2><br>
            <h4>Global community of photographers, of all levels and interests <br><br>
                Home to some of the most prestigious photo awards on the planet <br><br>
                A place to enter an array of great photo contests, prized by well known brands <br><br>
                An opportunity to enroll in Community Contest, on any theme <br><br>
                The chance to have your work seen by photographers around the world</h4>
        </header>
    </div>
</section>

<!-- Three -->
<div th:if="${ not#lists.isEmpty(winnerImages)}">
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p id="about" class="special">about</p><br>
                <div id="story">The past couple of years have been an evident testament of the success of Photo Contest
                    on its journey towards becoming one of the most sought-after professional competitions among
                    photographers.
                    Our trademark is modern approach to photography coupled with respect towards tradition.
                    In the spirit of reciprocity, at Photo Contest, our participants are the center of the competition
                    as
                    this
                    award-giving body cannot exist without its participants. The latter are just as equally important
                    for us as we are for them. In the same vein, we illuminate the path to development as we continue to
                    discover,
                    inspire and find out track promotion for the best artists.
                    Unconventional approach and strong vision of development direction in photography are the reasons
                    why Photo Contest gained such enormous popularity. Aimed at all types of photography, Photo Contest
                    is the perfect platform where professionals compete in six main categories: Architecture, Editorial,
                    Fine Art, Nature, People and Special. Amateurs can also vie for the title as they compete in five
                    categories:
                    Architecture, Fine Art, Nature, People and Special.
                    Our jury is a group of highly respected industry professionals, including gallery owners,
                    publishers,
                    editors and acclaimed photographers. Do not miss this rare opportunity to take part in one of the
                    most
                    prestigious annual photo contests. Choose your best work, upload photos and give yourself a chance
                    to compete for prestige,
                    fame and more than $ 7,500 in monetary award!
                </div>
                <p class="special"></p>
            </header>
        </div>
    </section>
</div>

<!-- Four -->
<section id="twoo" class="wrapper style3" style="background-image:url(../img/a3.jpg);">
    <div class="inner">
        <header class="align-center">
            <p>Edward Steichen</p>
            <h2>A portrait is not made in the camera but on either side of it.</h2>
        </header>
    </div>
</section>

<!--  Five -->
<div th:if="${ not#lists.isEmpty(winnerImages)}">
    <section id="threeе" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p id="about2" class="special">history</p><br>
                <div id="story2">Together with the founding of MAGAZINE in 2008, creativity, learning and sharing
                    knowledge on photography were also spawned with passion. It is on the very pages of this historic
                    publication that portfolios of photographers were presented with much gusto, interviews were
                    conducted, articles—unabashedly published, and workshop, techniques and styles in photography were
                    exhaustively discussed.

                    Thanks to the tireless efforts of the community gathered around MAGAZINE and the desire for
                    further development, by 2014, the first edition of ND AWARDS was conceptualized to fruition. Along
                    with the next editions, the competition has established and consolidated its position. Currently,
                    ambitious and talented people from every continent submit their work to our competition, all with
                    the singular purpose—to set new trends in the world of photography.
                </div>
                <p class="special"></p>
            </header>
        </div>
    </section>
</div>

<!-- Six -->
<section id="twoo" class="wrapper style3"  style="background-image:url(../img/slide05.jpg);">
    <div class="inner">
        <header class="align-center">
            <p>Ansel Adams</p>
            <h2>When words become unclear, I shall focus with photographs. When images become inadequate, I shall be content with silence</h2>
        </header>
    </div>
</section>

<!--  Seven -->
<div th:if="${ not#lists.isEmpty(winnerImages)}">
    <section id="thr" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p id="about3" class="special">mission and vision</p><br>
                <div id="story3">Photography is a creative art where the artist may present not only the image itself,
                    but also the story behind it. Grinding the necessary skills requires eons upon eons of practice.
                    While winning the contest can be extremely difficult as there is usually no guarantee to break through a
                    huge competition, our equally competent and nonpartisan jury will only choose entries that exemplify
                    an immaculate style and a fresh approach to photography from the hundreds of photo submissions.
                    <br>
                    That said, Photo Contest affords opportunity to photographers from every crevice across the globe to
                    submit their works for the competition where financial rewards and a ticket to fame, prestige and
                    promotion awaits the lucky participant. We want to inspire, educate and support the artists by going
                    the extra mile in developing their craft. The values that underlie our offer likewise extends the
                    same chance to each artist and each submitted work. Everyone can be a winner in our competition,
                    regardless of the equipment used or technique employed.
                </div>
                <p class="special"></p>
            </header>
        </div>
    </section>
</div>



<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Telerik Academy (Team 18). All rights reserved.
    </div>
</footer>
<!-- Scripts -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.scrollex.min.js"
        th:src="@{/js/jquery.scrollex.min.js}"></script>
<script src="../static/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>


</body>
</html>