<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" href="../static/css/heading.css" rel="stylesheet">
    <link th:href="@{/css/body.css}" href="../static/css/body.css" rel="stylesheet">
    <link th:href="@{/css/index.css}" href="../static/css/index.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div style="background-image: url(../img/a6.jpg);">
    <div class="container" style="padding-top: 30px;">
        <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
                <div class="card p-4" style="background-color: #fff4d6">
                    <div class="e-navlist e-navlist--active-bg">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link px-2 active" href="#"
                                                    th:href="@{/}"><i
                                    class="fa fa-fw fa-home mr-1"></i><span>Home</span></a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-2" href="#"
                                                    th:href="@{/users/{id}(id=${currentUser.id})}"><i
                                    class="fa fa-fw fa-user mr-1"></i><span>Profile</span></a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-2" href="#"
                                                    th:href="@{/images}"><i
                                    class="fa fa-fw fa-camera-retro mr-1"></i><span>Gallery</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="e-tabs mb-3 px-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab"
                               aria-controls="user-changes"
                               aria-selected="true">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="beers-tab" data-toggle="tab" href="#beers" role="tab"
                               aria-controls="beer-changes"
                               aria-selected="false">Contests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="create-contest-tab" data-toggle="tab" href="#create-contest"
                               role="tab"
                               aria-controls="beer-changes"
                               aria-selected="false">Create Open Contest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="create-invitational-contest-tab" data-toggle="tab"
                               href="#create-invitational-contest" role="tab"
                               aria-controls="beer-changes"
                               aria-selected="false">Create Invitational Contest</a>
                        </li>
                    </ul>
                </div>
                <!--            TAB CONTENT-->
                <div class="tab-content ">
                    <!--                USER TAB-->
                    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
                    <div class="row tab-pane show active" id="users" role="tab" aria-labelledby="users-tab">
                        <div class="rowCustom mb-3">
                            <div class="col mb-3">
                                <div class="e-panel card" style="background-color: #fff4d6">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6 class="mr-2"><span th:text="${currentUser.username}"></span><small
                                                    class="px-1">Be a wise
                                                leader</small></h6>
                                        </div>
                                        <div class="e-table">
                                            <div class="table-responsive table-lg mt-3 beer-results"
                                                 th:fragment="beer-results">
                                                <input class="form-control" type="text" id="myInput"
                                                       onkeyup="myFunction()"
                                                       placeholder="Search for attributes.." title="Type in a value">
                                                <table class="sortable table table-bordered" id="myTable">
                                                    <thead>
                                                    <tr class="header" style="cursor: pointer">
                                                        <th>ID</th>
                                                        <th class="max-width">Email</th>
                                                        <th>Username</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Rank</th>
                                                        <th>Scores</th>
                                                        <th>Function</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="user : ${usersAll}">

                                                        <td>
                                                            <a class="btn btn-outline-warning" href="#"
                                                               th:href="@{/users/{id}(id=${user.getId()})}"
                                                               th:text="${user.id}"> ID </a>
                                                        </td>

                                                        <td th:text="${user.getEmail()}"
                                                            class="text-nowrap align-middle">
                                                            Email
                                                        </td>

                                                        <td th:text="${user.getUsername()}"
                                                            class="text-nowrap align-middle">
                                                            Username
                                                        </td>

                                                        <td th:text="${user.getFirstName()}"
                                                            class="text-nowrap align-middle">
                                                            First Name
                                                        </td>

                                                        <td th:text="${user.getLastName()}"
                                                            class="text-nowrap align-middle">
                                                            Last Name
                                                        </td>

                                                        <td class="text-nowrap align-middle">
                                                            <p class="userNull"
                                                               th:if="${user.isAdmin()}" th:text="Admin"></p>
                                                            <p class="userNull"
                                                               th:if="${user.isJunkie()}" th:text="Junkie"></p>
                                                            <p class="userNull"
                                                               th:if="${user.isEnthusiast()}" th:text="Enthusiast"></p>
                                                            <p class="userNull"
                                                               th:if="${user.isMaster()}" th:text="Master"></p>
                                                            <p class="userNull"
                                                               th:if="${user.isPhotoDictator()}"
                                                               th:text="Photo+' '+Dictator"></p>
                                                        </td>

                                                        <td class="text-nowrap align-middle">
                                                            <p class="userNull" th:if="${user.isAdmin()}"
                                                               th:text="'n/a'"></p>
                                                            <p class="userNull" th:if="${!user.isAdmin()}"
                                                               th:text="${user.getScores()}"></p>

                                                        </td>

                                                        <td class="text-center align-middle">
                                                            <div class="btn-group align-top">
                                                                <div th:if="${isPersonal}" class="col-md-2">
                                                                    <button class="btn btn-sm btn-outline-secondary badge"
                                                                            type="button"
                                                                            data-toggle="modal"
                                                                            th:attr="data-target=${'#updateModalUser'+ user.getId()}">
                                                                        Edit Profile
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <script>
                                                    function myFunction() {
                                                        var input, filter, table, tr, td, i, txtValue;
                                                        input = document.getElementById("myInput");
                                                        filter = input.value.toUpperCase();
                                                        table = document.getElementById("myTable");
                                                        tr = table.getElementsByTagName("tr");
                                                        for (i = 1; i < tr.length; i++) {
                                                            // Hide the row initially.
                                                            tr[i].style.display = "none";

                                                            td = tr[i].getElementsByTagName("td");
                                                            for (var j = 0; j < td.length; j++) {
                                                                cell = tr[i].getElementsByTagName("td")[j];
                                                                if (cell) {
                                                                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                                                        tr[i].style.display = "";
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User Edit Modal -->
                    <div class="modal fade" role="dialog" th:each="modalUser : ${usersAll}"
                         th:id="${'updateModalUser'+ modalUser.getId()}">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="background-image: url(../img/a4.jpg);">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update User</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <ul class="nav nav-tabs" id="myUpdateTam" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="user-changes-tab" data-toggle="tab"
                                           href="#user-changes"
                                           role="tab"
                                           aria-controls="user-changes"
                                           aria-selected="true">User Changes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="password-tab" data-toggle="tab"
                                           href="#password-changes"
                                           role="tab"
                                           aria-controls="password-changes"
                                           aria-selected="false">Password Change</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="delete-tab" data-toggle="tab" href="#user-delete"
                                           role="tab"
                                           aria-controls="user-delete"
                                           aria-selected="false">Delete profile</a>
                                    </li>
                                </ul>
                                <!--PROFILE UPDATE TAB-->
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="user-changes" role="tab"
                                         aria-labelledby="user-changes-tab">
                                        <form th:action="@{'/users/{id}/update'(id=${modalUser.id})}"
                                              th:object="${updateUserDto}" class="well form-horizontal" action=" "
                                              method="post" enctype="multipart/form-data"
                                              id="contact_form">
                                            <div class="modal-body">
                                                <div class="py-1">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <input hidden="hidden" name="id"
                                                                       th:value="${modalUser.getId()}">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>First Name</label>
                                                                        <input class="form-control" type="text"
                                                                               name="firstName"
                                                                               th:value="${modalUser.getFirstName()}">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Last Name</label>
                                                                        <input class="form-control" type="text"
                                                                               name="lastName"
                                                                               th:value="${modalUser.getLastName()}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Username</label>
                                                                        <input class="form-control" type="text"
                                                                               name="username"
                                                                               th:value="${modalUser.username}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input class="form-control" type="text"
                                                                               name="email"
                                                                               th:value="${modalUser.email}">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Picture URL</label>
                                                                        <div class="pic image-input-fields">
                                                                            <input class="form-control pictureUrl"
                                                                                   type="text"
                                                                                   name="picture"
                                                                                   th:value="${modalUser.picture}">

                                                                            <label type="file"
                                                                                   class="form-control m-0 btn overflow-dots"
                                                                                   for="fileImage">Or
                                                                                upload file</label>

                                                                            <input hidden="hidden" type="file"
                                                                                   name="fileImage"
                                                                                   id="fileImage"
                                                                                   accept="image/png, image/jpeg, image/jpg">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-end">
                                                            <button th:field="*{password}" name="password"
                                                                    class="btn btn-primary button-needing-validation"
                                                                    type="submit">Save Changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--PASSWORD UPDATE TAB-->
                                    <div class="tab-pane  " id="password-changes" role="tab"
                                         aria-labelledby="password-tab">
                                        <form th:action="@{'/users/{id}/update/password'(id=${modalUser.id})}"
                                              th:object="${updatePasswordDto}" class="well form-horizontal"
                                              action=" "
                                              method="post"
                                              id="update_form">
                                            <div class="modal-body">
                                                <input hidden="hidden" name="id" th:value="${modalUser.getId()}">
                                                <br>
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="mb-2"><b>Change Password</b></div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>New Password</label>
                                                                    <input th:field="*{newPassword}" required
                                                                           class="form-control"
                                                                           type="password"
                                                                           placeholder="••••••">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Confirm <span
                                                                            class="d-none d-xl-inline">Password</span></label>
                                                                    <input th:field="*{confirmPassword}" required
                                                                           class="form-control"
                                                                           type="password"
                                                                           placeholder="••••••">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col d-flex justify-content-end">
                                                    <button th:field="*{oldPassword}" name="password"
                                                            class="btn btn-primary button-needing-validation"
                                                            type="submit">Save Changes
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--DELETE PROFILE TAB-->
                                    <div class="tab-pane  " id="user-delete" role="tab" aria-hidden="true">
                                        <form th:action="@{'/users/{id}/profile/delete'(id=${modalUser.id})}"
                                              th:object="${deleteUserDto}" class="well form-horizontal" action=""
                                              method="post"
                                              id="delete_form">
                                            <div class="modal-body">
                                                <input hidden="hidden" name="id" th:value="${modalUser.getId()}">
                                                <br>
                                                <div class="col d-flex justify-content-center">
                                                    <button th:field="*{password}" name="password"
                                                            class="btn btn-danger button-needing-validation"
                                                            type="submit">Delete Profile
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Contest Edit Modal -->
                    <div class="modal fade" role="dialog" th:each="modalContest : ${contestAll}"
                         th:id="${'updateModalContest'+ modalContest.getId()}">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content" style="background-image: url(../img/a4.jpg);">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update Contest</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <ul class="nav nav-tabs" id="myUpdateTam2" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="user-changes-tab2" data-toggle="tab"
                                           href="#contest-changes"
                                           role="tab"
                                           aria-controls="user-changes"
                                           aria-selected="true">Contest Changes</a>
                                    </li>
                                </ul>
                                <!--CONTEST UPDATE TAB-->
                                <div class="tab-content">
                                    <div class="tab-pane show active" id="contest-changes" role="tab"
                                         aria-labelledby="user-changes-tab">
                                        <form th:action="@{'/contests/{id}/update'(id=${modalContest.id})}"
                                              th:object="${updateContestDto}" class="well form-horizontal" action=" "
                                              method="post"
                                              id="contact_form2">
                                            <div class="modal-body">
                                                <div class="py-1">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <input hidden="hidden" name="id"
                                                                       th:value="${modalContest.getId()}">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Title</label>
                                                                        <input class="form-control" type="text"
                                                                               name="title"
                                                                               th:value="${modalContest.getTitle()}">
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Category</label>
                                                                        <select class="form-control"
                                                                                th:field="*{category}">
                                                                            <option th:each="categoryItem : ${categories}"
                                                                                    th:value="${categoryItem.getId()}"
                                                                                    th:text="${categoryItem.getName()}">
                                                                                Category Name
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Start date</label>
                                                                        <input class="form-control" type="date"
                                                                               th:field="*{startDate}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Finish date</label>
                                                                        <input class="form-control" type="date"
                                                                               th:field="*{finishDate}"/>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-row">
                                                                <div class="form-group col-md-2">
                                                                    <label>From Hour</label>
                                                                    <input class="form-control" type="time"
                                                                           th:field="*{fromHour}"/>
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    <label>To Hour</label>
                                                                    <input class="form-control" type="time"
                                                                           th:field="*{toHour}"/>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="form-group">
                                                                        <label>Picture URL</label>
                                                                        <div class="pic image-input-fields">
                                                                            <input class="form-control" type="text"
                                                                                   th:field="*{coverPhoto}"/>
                                                                            <label class="file btn btn-primary"
                                                                                   for="pic">Or
                                                                                upload file</label>
                                                                            <input hidden="hidden" type="file"
                                                                                   class="form-control"
                                                                                   id="pic2">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col d-flex justify-content-end">
                                                            <button name="password"
                                                                    class="btn btn-primary button-needing-validation"
                                                                    type="submit">Save Changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                CONTEST TAB-->
                    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
                    <div class="row tab-pane" id="beers" role="tab" aria-labelledby="beers-tab">
                        <div class="rowCustom d-flex mb-3">
                            <div class="col mb-3">
                                <div class="e-panel card" style="background-color: #fff4d6">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6 class="mr-2"><span
                                                    th:text="${currentUser.username}"></span><small
                                                    class="px-1">Be a wise
                                                leader</small></h6>
                                        </div>
                                        <div class="e-table">
                                            <div class="table-responsive table-lg mt-3 beer-results"
                                                 th:fragment="beer-results">
                                                <input class="form-control" type="text" id="myInput2"
                                                       onkeyup="myFunction()"
                                                       placeholder="Search for attributes.."
                                                       title="Type in a value">
                                                <table class="table table-bordered sortable" id="myTable2">
                                                    <thead>
                                                    <tr class="header" style="cursor: pointer">
                                                        <th>ID</th>
                                                        <th class="max-width">Title</th>
                                                        <th>Phase</th>
                                                        <th>Start date</th>
                                                        <th>Finish date</th>
                                                        <th>Category</th>
                                                        <th>Type</th>
                                                        <th>Function</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="contest : ${contestAll}">

                                                        <td>
                                                            <a class="btn btn-outline-warning" href="#"
                                                               th:href="@{/contests/{id}(id=${contest.getId()})}"
                                                               th:text="${contest.id}"> ID </a>
                                                        </td>

                                                        <td th:text="${contest.getTitle()}"
                                                            class="text-nowrap align-middle">
                                                            Title
                                                        </td>

                                                        <td th:text="${contest.getPhase().getName()}"
                                                            class="text-nowrap align-middle">
                                                            Phase
                                                        </td>

                                                        <td th:text="${contest.getStartDate()}"
                                                            class="text-nowrap align-middle">
                                                            Start Date
                                                        </td>

                                                        <td th:text="${contest.getPhase2ToHour()}"
                                                            class="text-nowrap align-middle">
                                                            Finish Date
                                                        </td>

                                                        <td th:text="${contest.getCategory().getName()}"
                                                            class="text-nowrap align-middle">
                                                            Category
                                                        </td>

                                                        <td th:text="${contest.getType().getName()}"
                                                            class="text-nowrap align-middle">
                                                            Type
                                                        </td>

                                                        <td class="text-center align-middle">
                                                            <div class="btn-group align-top">
                                                                <button class="btn btn-sm btn-outline-secondary badge"
                                                                        type="button"
                                                                        data-toggle="modal"
                                                                        th:attr="data-target=${'#updateModalContest'+ contest.getId()}">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <script>
                                                    function myFunction() {
                                                        var input, filter, table, tr, td, i, txtValue;
                                                        input = document.getElementById("myInput2");
                                                        filter = input.value.toUpperCase();
                                                        table = document.getElementById("myTable2");
                                                        tr = table.getElementsByTagName("tr");
                                                        for (i = 1; i < tr.length; i++) {
                                                            // Hide the row initially.
                                                            tr[i].style.display = "none";

                                                            td = tr[i].getElementsByTagName("td");
                                                            for (var j = 0; j < td.length; j++) {
                                                                cell = tr[i].getElementsByTagName("td")[j];
                                                                if (cell) {
                                                                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                                                                        tr[i].style.display = "";
                                                                        break;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                CREATE OPEN CONTEST TAB-->
                    <div class="row tab-pane" id="create-contest" role="tab"
                         aria-labelledby="create-contest-tab">
                        <div class="rowCustom d-flex mb-3">
                            <div class="col mb-3">
                                <div class="e-panel card" style="background-color: #fff4d6">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6 class="mr-2"><span
                                                    th:text="${currentUser.username}"></span><small
                                                    class="px-1">Be a wise
                                                leader</small></h6>
                                        </div>
                                        <div class="box">
                                            <div class="profile-img">
                                                <img src="https://images.unsplash.com/photo-1549880181-56a44cf4a9a5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHw%3D&w=1000&q=80"
                                                     width="450px"
                                                     alt="" class="profile-pic " id="picture-header"/>
                                                <div class="box-content">
                                                    <h3 class="title">Photo Contest Application</h3>
                                                    <span class="post">Please upload a cover photo.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                        <form th:fragment="contest-form" action="#" th:action="@{/contests/new}"
                                              th:object="${contestDto}" method="post" enctype="multipart/form-data">
                                            <label class="font-weight-bold">Time limit (Phase 1):</label>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="StartDate"
                                                           th:text="#{contests.label.startDate}">Start
                                                        Date</label>
                                                    <input class="form-control" type="date"
                                                           th:field="*{startDate}"/>
                                                    <label class="error" th:errors="*{startDate}">Data error
                                                        placeholder</label>

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label th:text="#{contests.label.finishDate}">Finish
                                                        Date</label>
                                                    <input class="form-control" type="date"
                                                           th:field="*{finishDate}"/>
                                                    <label class="error" th:errors="*{finishDate}">Data error
                                                        placeholder</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Title</label>
                                                    <input class="form-control" type="text" name="title"
                                                           th:value="${contestDto.getTitle()}">
                                                    <p id="titleError" th:errors="*{title}">Title should be unique</p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="categoryLabel"
                                                           th:text="#{contests.label.categories}">Category</label>
                                                    <select class="form-control" th:field="*{category}">
                                                        <option th:each="categoryItem : ${categories}"
                                                                th:value="${categoryItem.getId()}"
                                                                th:text="${categoryItem.getName()}">
                                                            CategoryName
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <label class="font-weight-bold" for="appt2">Time limit (Phase
                                                2):</label>
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label th:text="#{contests.label.from}">From</label>
                                                    <input class="form-control" type="time" id="appt2"
                                                           name="appt"
                                                           th:field="*{fromHour}"/>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label th:text="#{contests.label.to}">To</label>
                                                    <input class="form-control" type="time" id="appt3"
                                                           name="appt"
                                                           th:field="*{toHour}"/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label th:text="#{contests.label.pictureURl}">URL</label>
                                                    <input class="form-control" type="text"
                                                           th:field="*{coverPhoto}"/>
                                                </div>
                                                <div class="form-group col-md-2 py-md-4">
                                                    <label type="file"
                                                           class="btn btn-primary"
                                                           for="imageContest">Or
                                                        upload file</label>

                                                    <input hidden="hidden" type="file"
                                                           name="imageContest"
                                                           id="imageContest"
                                                           accept="image/png, image/jpeg, image/jpg">
                                                </div>
                                            </div>

                                            <small class="form-text text-muted"
                                                   th:text="#{contests.label.notifyJury}">Jury info</small>
                                            <small class="form-text text-muted"
                                                   th:text="#{contests.label.notifyJury2}">Jury info</small>
                                            <label th:text="#{contests.label.jury}">Jury</label>
                                            <br/>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <ul>
                                                        <a th:each="user : ${usersAll}">
                                                            <div class="ui checkbox"
                                                                 th:if="${user.isPhotoDictator()}">
                                                                <input type="checkbox" th:field="*{jurySet}"
                                                                       th:value="${user.getId()}">
                                                                <label th:text="${user.firstName+' '+user.lastName}"></label>
                                                            </div>
                                                        </a>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="offset-sm-4 col-sm-20">
                                                <input type="submit" class="btn btn-primary custom"
                                                       value="Save"/>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                CREATE INVITATIONAL CONTEST TAB-->
                    <div class="row tab-pane" id="create-invitational-contest" role="tab"
                         aria-labelledby="create-invitational-contest-tab">
                        <div class="rowCustom d-flex mb-3">
                            <div class="col mb-3">
                                <div class="e-panel card" style="background-color: #fff4d6">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h6 class="mr-2"><span
                                                    th:text="${currentUser.username}"></span><small
                                                    class="px-1">Be a wise
                                                leader</small></h6>
                                        </div>
                                        <div class="box">
                                            <div class="profile-img">
                                                <img src="https://www.wallpaperup.com/uploads/wallpapers/2016/11/08/1035310/6df7f16466759b5a38c3d424f0a7e964-700.jpg"
                                                     width="1000px"
                                                     alt="" class="profile-pic " id="picture-header2"/>
                                                <div class="box-content">
                                                    <h3 class="title">Photo Contest Application</h3>
                                                    <span class="post">Please upload a cover photo.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                        <form th:fragment="contest-form" action="#"
                                              th:action="@{/contests/new/invitational}"
                                              th:object="${contestDto}" method="post" enctype="multipart/form-data">
                                            <label class="font-weight-bold">Time limit (Phase 1):</label>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="StartDate"
                                                           th:text="#{contests.label.startDate}">Start
                                                        Date</label>
                                                    <input class="form-control" type="date"
                                                           th:field="*{startDate}"/>
                                                    <label class="error" th:errors="*{startDate}">Data error
                                                        placeholder</label>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label th:text="#{contests.label.finishDate}">Finish
                                                        Date</label>
                                                    <input class="form-control" type="date"
                                                           th:field="*{finishDate}"/>
                                                    <label class="error" th:errors="*{finishDate}">Data error
                                                        placeholder</label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Title</label>
                                                    <input class="form-control" type="text" name="title"
                                                           th:value="${contestDto.getTitle()}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="categoryLabel"
                                                           th:text="#{contests.label.categories}">Category</label>
                                                    <select class="form-control" th:field="*{category}">
                                                        <option th:each="categoryItem : ${categories}"
                                                                th:value="${categoryItem.getId()}"
                                                                th:text="${categoryItem.getName()}">
                                                            CategoryName
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <label class="font-weight-bold" for="appt2">Time limit (Phase
                                                2):</label>
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label th:text="#{contests.label.from}">From</label>
                                                    <input class="form-control" type="time" id="appt4"
                                                           name="appt"
                                                           th:field="*{fromHour}"/>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label th:text="#{contests.label.to}">To</label>
                                                    <input class="form-control" type="time" id="appt5"
                                                           name="appt"
                                                           th:field="*{toHour}"/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label th:text="#{contests.label.pictureURl}">URL</label>
                                                    <input class="form-control" type="text"
                                                           th:field="*{coverPhoto}"/>
                                                </div>
                                                <div class="form-group col-md-2 py-md-4">
                                                    <label type="file"
                                                           class="btn btn-primary"
                                                           for="imageContestInvitational">Or
                                                        upload file</label>

                                                    <input hidden="hidden" type="file"
                                                           name="imageContestInvitational"
                                                           id="imageContestInvitational"
                                                           accept="image/png, image/jpeg, image/jpg">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div style="border:2px solid #ced4da"
                                                     class="form-group col-md-3">
                                                    <small class="form-text text-muted"
                                                           th:text="#{contests.label.notifyJury}">Jury
                                                        info</small>
                                                    <small class="form-text text-muted"
                                                           th:text="#{contests.label.notifyJury2}">Jury
                                                        info</small>
                                                    <label class="font-weight-bold"
                                                           th:text="#{contests.label.jury}">Jury</label>
                                                    <ul>
                                                        <a th:each="user : ${usersAll}">
                                                            <div class="ui checkbox"
                                                                 th:if="${user.isPhotoDictator()}">
                                                                <input type="checkbox" th:field="*{jurySet}"
                                                                       th:value="${user.getId()}">
                                                                <label th:text="${user.firstName+' '+user.lastName}"></label>
                                                            </div>
                                                        </a>
                                                    </ul>
                                                </div>
                                                <div style="border:2px solid #ced4da"
                                                     class="form-group col-md-9">
                                                    <small class="form-text text-muted"
                                                           th:text="#{contests.label.userSet}">User info</small>
                                                    <small class="form-text text-muted">
                                                        <p class="text-danger"
                                                           th:text="#{contests.label.userSetInfo}">User
                                                            info</p>
                                                    </small>
                                                    <label class="font-weight-bold"
                                                           th:text="#{contests.label.userAdd}">User
                                                        ad</label>
                                                    <ul>
                                                        <a th:each="user : ${usersAll}">
                                                            <div class="ui checkbox" th:if="${!user.isAdmin()}">
                                                                <input type="checkbox" th:field="*{userSet}"
                                                                       th:value="${user.getId()}">
                                                                <label th:text="${user.firstName+' '+user.lastName}"></label>
                                                            </div>
                                                        </a>
                                                    </ul>
                                                </div>

                                                <div class="offset-sm-4 col-sm-20">
                                                    <input type="submit" class="btn btn-primary custom"
                                                           value="Save"/>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
                            crossorigin="anonymous"></script>

                    <!-- jQuery library -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

                    <!-- Popper JS -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

                    <!-- Latest compiled JavaScript -->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

                    <script th:src="@{../js/indexPageSearch.js}" th:inline="javascript"
                            src="../static/js/indexPageSearch.js"></script>
                    <script th:src="@{../js/index.js}" th:inline="javascript"
                            src="../static/js/index.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script th:src="@{/js/dynamic-refresh.js}" th:inline="javascript"
                            src="../static/js/dynamic-refresh.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>