<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/contests.css" th:href="@{/css/contests.css}" rel="stylesheet"/>
</head>
<body>

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/">PhotoContest <span>by TEAM 18</span></a></div>
    <a>
        <tl th:if="${currentUser != null }">
            <img src="#" th:src="${currentUser.getPicture()}" alt="Avatar" class="avatar"
                 style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
            <a href="#" th:text="${currentUser.firstName}" th:href="@{/users/{id}(id=${currentUser.id})}">Username</a>
        </tl>
    </a>
    <a href="#menu">Menu</a>
</header>

<div th:include="general.html :: nav-bar"></div>

<div class="ioio">Ours free photo contests</div>

<!-- Filter by Phase -->
<div class="byPhase">
    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')">All</button>
        <button class="btn" onclick="filterSelection('Phase1')">Open</button>
        <button class="btn" onclick="filterSelection('Phase2')">Assessment</button>
        <button class="btn" onclick="filterSelection('Finished')">Finished</button>
    </div>
</div>

<!-- One -->
<div th:if="${ not#lists.isEmpty(contests)}">
    <section id="one" class="wrapper style2">
        <div class="grid-container">
            <div th:each=" contest, iterStat : ${contests}">
                <div class="grid-item">
                    <div th:if="${contest.phase.name.equals('Phase 1')}">
                        <div class="filterDiv Phase1">
                            <div th:include="general.html :: contest-type"></div>
                        </div>
                    </div>

                    <div th:if="${contest.phase.name.equals('Phase 2')}">
                        <div class="filterDiv Phase2">
                            <div th:include="general.html :: contest-type"></div>
                        </div>

                    </div>

                    <div th:if="${contest.phase.name.equals('Finished')}">
                        <div class="filterDiv Finished">
                            <div th:include="general.html :: contest-type"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    filterSelection("all")

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

<!-- Scripts -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.scrollex.min.js" th:src="@{/js/jquery.scrollex.min.js}"></script>
<script src="../static/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>


</body>
</html>