<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Contest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/contest.css" th:href="@{/css/contest.css}" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet"/>

</head>
<body>

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/">PhotoContest <span>by TEAM 18</span></a></div>
    <a>
        <tl th:if="${currentUser != null }">
            <img src="#" th:src="${currentUser.getPicture()}" alt="Avatar" class="avatar"
                 style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
            <a href="#" th:text="${currentUser.firstName}" th:href="@{/users/{id}(id=${currentUser.id})}">Username</a>
        </tl>
    </a>
    <a href="#menu">Menu</a>
</header>

<div th:include="general.html :: nav-bar"></div>

<!-- Two -->
<section id="two" class="wrapper style3" th:style="|background-image:url(${currentContest.coverPhoto.imageUrl});|">
    <div class="inner">
        <header class="align-center"><br><br>
            <h2 th:text="${currentContest.title}">Contest Name</h2>
            <div th:if="${currentContest.phase.name.equals('Phase 1')}">
                <h3 th:text="${'Time to phase 2:'}">Time to phase</h3>
                <p id="timer" th:text="${currentContest.phase2FromHour}">Deadline Date</p>
            </div>
            <div th:if="${currentContest.phase.name.equals('Phase 2')}">
                <h3 th:text="${'Time until the end:'}">Time to phase</h3>
                <p id="timer2" th:text="${currentContest.phase2ToHour}">Deadline Date</p>
            </div>
            <p>
                Get your creative juices flowing, gain exposure, and get rewarded. Win awesome prizes and opportunities
                to get exposure worldwide.
            </p>
            <br/>
            <div th:if="${currentContest.type.name.equals('Open')}">
                <button type="button" class="button alt" data-toggle="modal"
                        data-target="#showJuryOfContestModal">
                    View jury of the contest.
                </button>
            </div>

            <div th:if="${currentContest.type.name.equals('Invitational')}">
                <button type="button" class="button alt" data-toggle="modal"
                        data-target="#showJuryOfContestModal">
                    View jury of the contest.
                </button>
                <br/>
                <button type="button" class="button alt" data-toggle="modal"
                        data-target="#showParticipantsOfContestModal">
                    View participants of the contest.
                </button>
            </div>

            <h2 th:text="${currentContest.phase.name}">Contest Phase></h2>   <br>
            <footer class="align-center" th:if="${currentContest.phase.name.equals('Phase 1')}">

                <!--                For OPEN Contest enroll-->
                <div th:if="${currentContest.type.name.equals('Open')}">
                    <div th:if="${currentContest.users.contains(currentUser) || currentUser != null && currentUser.isAdmin() ||
                                     currentContest.jury.contains(currentUser) || currentUser == null}">

                        <button type="button" class="button alt" data-toggle="modal"
                                data-target="#exampleModal">
                            ENTER NOW
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="font-weight: bold; color:black;">
                                        We cannot admit you to the contest:
                                        1) You need to register first.
                                        2) The user is already registered in contest.
                                        3) Organizers can not enroll to contest.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${currentContest.users.contains(currentUser) || currentUser != null && currentUser.isAdmin() ||
                                     currentContest.jury.contains(currentUser) || currentUser == null}">
                        <a href="#" class="button alt"
                           type="button"
                           data-toggle="modal"
                           th:attr="data-target=${'#enrollModal'+ currentContest.getId()}">ENTER NOW</a>
                    </div>
                </div>

                <!--                For INVITATIONAL Contest enroll-->
                <div th:unless="${currentContest.type.name.equals('Open')}">
                    <div th:if="${!currentContest.users.contains(currentUser) || currentUser != null && currentUser.isAdmin() ||
                                     currentContest.jury.contains(currentUser) || currentUser == null}">

                        <button type="button" class="button alt" data-toggle="modal"
                                data-target="#exampleModal2">
                            ENTER NOW
                        </button>
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel2" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Warning!</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="font-weight: bold; color:black;">
                                        We cannot admit you to the contest:
                                        1) Uninvited users cannot join to contest!
                                        2) The user is already registered in contest.
                                        3) Organizers can not enroll to contest.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${!currentContest.users.contains(currentUser) || currentUser != null && currentUser.isAdmin() ||
                                      currentContest.jury.contains(currentUser) || currentUser == null}">

                        <div th:if="${currentContest.getImages().size() == 0}">
                            <a href="#" class="button alt"
                               type="button"
                               data-toggle="modal"
                               th:attr="data-target=${'#enrollModal'+ currentContest.getId()}">ENTER NOW</a>
                        </div>

                        <div th:unless="${currentContest.getImages().size() == 0}">

                            <div th:if="${checkIfCurrentUserAlreadyUploadPhoto}">
                                <button type="button" class="button alt" data-toggle="modal"
                                        data-target="#exampleModal3">
                                    ENTER NOW
                                </button>
                                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel3" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel3">Warning!</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="font-weight: bold; color:black;">
                                                Attention!
                                                You cannot upload a photo more than once.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:unless="${checkIfCurrentUserAlreadyUploadPhoto}">
                                <a href="#" class="button alt"
                                   type="button"
                                   data-toggle="modal"
                                   th:attr="data-target=${'#enrollModal'+ currentContest.getId()}">ENTER NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </header>
    </div>
</section>

<script th:inline="javascript">
    var x = setInterval(function () {
        var countDownDate = new Date([[${currentContest.phase2FromHour}]]).getTime();

        var now = new Date().getTime();

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('timer').innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById('timer').innerHTML = "Loading..";
        }
    }, 1000);
</script>

<script th:inline="javascript">
    var x = setInterval(function () {
        var countDownDate = new Date([[${currentContest.phase2ToHour}]]).getTime();

        var now = new Date().getTime();

        var distance = countDownDate - now;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById('timer2').innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById('timer2').innerHTML = "Finished";
        }
    }, 1000);
</script>

<!-- Show Jury of the contest Modal -->
<div class="modal fade" id="showJuryOfContestModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-image: url(../img/a4.jpg);">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="showJuryOfContestModalLabel">Information!</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-center" style="font-weight: bold; color:black;">
                <div th:each="user : ${currentContest.getJury()}">
                    <div class="row">
                        <div class="col-md-6" style="margin: 0px 120px">
                            <img src="#" th:src="${user.getPicture()}" alt="Avatar" class="avatar"
                                 style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
                            <h4 th:text="${user.username + ' ' + '(' + user.firstName + ' '
                        + user.lastName + ')'}">
                                Username</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show Participants of the contest Modal -->
<div class="modal fade" id="showParticipantsOfContestModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-image: url(../img/a4.jpg);">
            <div class="modal-header">
                <h3 class="modal-title" id="showParticipantsOfContestModalLabel">Information about Participants!</h3>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-center" style="font-weight: bold; color:black;">
                <div class="row">
                    <div class="col-md-5"
                         style="font-weight: bold; color:black;">
                        <h3>User:</h3>
                    </div>
                    <div class="col-md-4"
                         style="font-weight: bold; color:black;">
                        <h3>Rank:</h3>
                    </div>
                    <div class="col-md-3"
                         style="font-weight: bold; color:black;">
                        <h3>Points:</h3>
                    </div>
                </div>
                <div th:each="user : ${currentContest.getUsers()}">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="#" th:src="${user.getPicture()}" alt="Avatar" class="avatar"
                                 style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
                            <h4 th:text="${user.username + ' ' + '(' + user.firstName + ' '
                        + user.lastName + ')'}">
                                Username</h4>
                        </div>
                        <div class="col-md-4">
                            <div th:each="rank : ${user.getRanks()}">
                                <h4 th:text="${rank.name}">
                                    Rank</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4 th:text="${user.getScores()}" class="modal-title align-center"
                                style="font-weight: bold; color:black;">
                                Points</h4>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contest Enroll Modal -->
<div class="modal fade" role="dialog" th:id="${'enrollModal'+ currentContest.getId()}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-image: url(../img/a4.jpg);">
            <div class="modal-header">
                <h5 class="modal-title">Enroll in contest</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <ul class="nav nav-tabs" id="myUpdateTam" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="user-changes-tab" data-toggle="tab"
                       href="#enroll-contest"
                       role="tab"
                       aria-controls="enroll-contest"
                       aria-selected="true">Please upload image</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="enroll-contest" role="tab"
                     aria-labelledby="user-changes-tab">
                    <form action="#" th:action="@{'/contests/{id}/enroll'(id=${currentContest.id})}"
                          th:object="${imageDto}"
                          method="post" enctype="multipart/form-data">

                        <!-- Upload Image TO Contest Modal -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label style="margin: 0px 350px">Title</label>
                                <input class="form-control" type="text" name="title"
                                       th:value="${imageDto.getTitle()}" style="margin: 0px 180px">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label style="margin: 0px 350px">Story</label>
                                <textarea id="story" name="story"
                                          rows="5" cols="33"
                                          th:value="${imageDto.getStory()}" style="margin: 0px 180px">
                                </textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label th:text="#{contests.label.pictureURl}" style="margin: 0px 350px">URL</label>
                                <input class="form-control" type="url" name="url"
                                       th:value="${imageDto.getUrl()}" style="margin: 0px 180px">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2 py-md-4">
                                <label type="file"
                                       class="btn btn-primary"
                                       for="enrollImage" style="margin: 0px 260px">Or
                                    upload file</label>

                                <input hidden="hidden" type="file"
                                       name="enrollImage"
                                       id="enrollImage"
                                       accept="image/png, image/jpeg, image/jpg">
                            </div>

                            <div class="form-group col-md-2 py-md-4">
                                <button type="submit" class="btn btn-primary" style="margin: -6px 280px">Submit</button>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- All Images Registered to Contest -- Three -->
<div th:if="${ not#lists.isEmpty(currentContest.getImages())}">
    <section id="three" class="wrapper style2">
        <header class="align-center">
            <div th:if="${currentContest.phase.name.equals('Finished')}">
                <p class=" special">To check the result of the contest, please open the model in the photo.</p>
                <h2>Photos winner:</h2>
                <div class="grid-container">
                    <div th:each="image : ${currentContest.images}">
                        <div class="grid-item">
                            <div th:if="${image.winnerPlace == 1}">
                                <div class="viewModeImage">
                                    <img th:src="${image.getImageUrl()}" width="200" height="150"
                                         class="fa fa-expand" href="javascript:void(0);" data-toggle="modal"
                                         th:attr="data-target=${'#pictureViewModal'+ image.getId()}"
                                         style="cursor: pointer"/>
                                    <img class='iconForFirstPlace'
                                         th:src="@{/img/First-Place-Medal-PNG-Clipart.png}"/>
                                </div>
                            </div>

                            <div th:if="${image.winnerPlace == 2}">
                                <div class="viewModeImage">
                                    <img th:src="${image.getImageUrl()}" width="200" height="150"
                                         class="fa fa-expand" href="javascript:void(0);" data-toggle="modal"
                                         th:attr="data-target=${'#pictureViewModal'+ image.getId()}"
                                         style="cursor: pointer"/>
                                    <img class='iconForSecondPlace'
                                         th:src="@{/img/clipart2203529.png}"/>
                                </div>
                            </div>
                            <div th:if="${image.winnerPlace == 3}">
                                <div class="viewModeImage">
                                    <img th:src="${image.getImageUrl()}" width="200" height="150"
                                         class="fa fa-expand" href="javascript:void(0);" data-toggle="modal"
                                         th:attr="data-target=${'#pictureViewModal'+ image.getId()}"
                                         style="cursor: pointer"/>
                                    <img class='iconForThirdPlace'
                                         th:src="@{/img/clipart585448.png}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <header class="align-center">
                    <p class=" specialCustom">See the photos uploaded by the other participants</p>
                    <h2>Photos Registered for Contest</h2>
                </header>
            </div>
        </header>

        <div class="inner">
            <div th:if="${currentContest.phase.name.equals('Phase 1')}">
                <header class="align-center">
                    <p class=" special">See the photos uploaded by the other participants</p>
                    <h2>Photos Registered for Contest</h2>
                </header>
                <div class="gallery">
                    <div th:each="image : ${currentContest.images}">

                        <div class="viewModeImage">
                            <img class="main-profile-img" src="#" th:src="${image.imageUrl}" width="600"
                                 height="400">
                            <i class="fa fa-expand" href="javascript:void(0);" data-toggle="modal"
                               th:attr="data-target=${'#pictureViewModal'+ image.getId()}"
                               style="cursor: pointer"></i>
                        </div>

                        <img src="#" th:src="${image.getImageUser().getPicture()}" alt="Avatar" class="avatar"
                             style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
                        <h4 th:text="${image.getImageUser().username + ' ' + '(' + image.getImageUser().firstName + ' ' + image.getImageUser().lastName + ')'}">
                            Username</h4>
                    </div>
                </div>
            </div>

            <div th:if="${currentContest.phase.name.equals('Phase 2')}">
                <header class="align-center">
                    <p class=" special">See the photos uploaded by the other participants</p>
                    <h2>Photos Registered for Contest</h2>
                </header>
                <div class="gallery">
                    <div th:each="image : ${currentContest.images}">
                        <div class="viewModeImage">
                            <div id="tasksWork"
                                 th:if="${currentContest.jury.contains(currentUser) || currentUser.isAdmin()}">
                                <div th:if="${!getImageReviewsUsers.keySet().contains(image.getId())}">
                                    <i class="fa fa-tasks" href="javascript:void(0);" data-toggle="modal"
                                       th:attr="data-target=${'#pictureRateModal'+ image.getId()}"
                                       style="cursor: pointer"></i>

                                </div>
                            </div>
                            <div id="expandWork">
                                <i class="fa fa-expand" href="javascript:void(0);" data-toggle="modal"
                                   th:attr="data-target=${'#pictureViewModal'+ image.getId()}"
                                   style="cursor: pointer"></i>
                            </div>
                            <img class="main-profile-img" src="#" th:src="${image.imageUrl}" width="600"
                                 height="400">
                        </div>

                        <img src="#" th:src="${image.getImageUser().getPicture()}" alt="Avatar" class="avatar"
                             style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
                        <h4 th:text="${image.getImageUser().username + ' ' + '(' + image.getImageUser().firstName + ' ' + image.getImageUser().lastName + ')'}">
                            Username</h4>
                    </div>
                </div>
            </div>

            <div th:if="${currentContest.phase.name.equals('Finished')}">
                <div class="gallery">
                    <div th:each="image : ${currentContest.images}">
                        <div class="viewModeImage">
                            <div id="viewRate">
                                <i class="fa fa-check" href="javascript:void(0);" data-toggle="modal"
                                   th:attr="data-target=${'#pictureViewRateFromJuryModal'+ image.getId()}"
                                   style="cursor: pointer"></i>
                            </div>
                            <div id="expandWork2">
                                <i class="fa fa-expand" href="javascript:void(0);" data-toggle="modal"
                                   th:attr="data-target=${'#pictureViewModal'+ image.getId()}"
                                   style="cursor: pointer"></i>
                            </div>
                            <img class="main-profile-img" src="#" th:src="${image.imageUrl}" width="600"
                                 height="400">
                        </div>

                        <img src="#" th:src="${image.getImageUser().getPicture()}" alt="Avatar" class="avatar"
                             style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
                        <h4 th:text="${image.getImageUser().username + ' ' + '(' + image.getImageUser().firstName + ' ' + image.getImageUser().lastName + ')'}">
                            Username</h4>
                    </div>
                </div>
            </div>

            <!--            Picture View Modal-->
            <div th:id="${'pictureViewModal'+ modalImage.getId()}" class="modal fade" role='dialog'
                 th:each="modalImage : ${currentContest.images}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <h2 class="modal-title align-center" th:text="${modalImage.title}"
                            style="font-weight: bold; color:black;">Title</h2>
                        <div class="modal-body">
                            <img src="#" th:src="${modalImage.imageUrl}"
                                 style="width: 100%; height: 100%"/>
                        </div>
                        <h4 class="modal-title align-center" th:text="${modalImage.story}">
                            Story</h4>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--            Picture Rate Modal-->
            <div th:id="${'pictureRateModal'+ modalImage.getId()}" class="modal fade" role='dialog'
                 th:each="modalImage : ${currentContest.images}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-image: url(../img/a4.jpg);">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <h2 class="modal-title align-center"
                            style="font-weight: bold; color:black;">Rate the picture</h2>
                        <form th:action="@{'__${#httpServletRequest.requestURI}__/rateImage/{id}'(id=${modalImage.id})}"
                              th:object="${rateDto}" class="well form-horizontal" action=" "
                              method="post"
                              id="contact_form2">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Points:</label>
                                    <input type="range" th:field="*{points}" value="4" min="1" max="10" step="1"
                                           oninput="this.nextElementSibling.value = this.value">
                                    <output>4</output>

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Comment:</label>
                                    <textarea id="comment" name="comment"
                                              rows="5" cols="33"
                                              th:value="${rateDto.getComment()}">
                                </textarea>
                                </div>
                            </div>

                            <div class="form-group form-check">
                                <input type="radio" id="option1" name="option1" class="custom-control-input"
                                       value="1"
                                       th:field="*{complain}">
                                <label class="custom-control-label" for="option1">Yes</label>

                                <input type="radio" id="option0" name="option0" class="custom-control-input"
                                       value="0"
                                       th:field="*{complain}">
                                <label class="custom-control-label" for="option0">No</label>
                                <br/>
                                <label>Please check the box if the category is wrong.</label>
                            </div>

                            <div class="offset-sm-4 col-sm-20">
                                <input type="submit" class="btn btn-primary custom"
                                       value="Submit"/>
                            </div>

                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!--            Picture View Rate From Jury Modal-->
            <div th:id="${'pictureViewRateFromJuryModal'+ modalImage.getId()}" class="modal fade" role='dialog'
                 th:each="modalImage : ${currentContest.images}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="background-image: url(../img/a4.jpg);">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <h2 class="modal-title align-center"
                            style="font-weight: bold; color:black;"> View result for the picture</h2>

                        <br/>

                        <div class="modal-title align-center">
                            <i class="fa fa-lightbulb-o fa-2x"></i>
                            <label class="modal-title align-center">Points</label>
                            <h2 class="modal-title align-center"
                                style="font-weight: bold; color:black;"
                                th:text="${modalImage.getImageReviewsPoints()}">127</h2>
                        </div>

                        <br/>

                        <div class="modal-title align-center">
                            <i class="fa fa-comments fa-2x"></i>
                            <label class="modal-title align-center">Comments:</label>
                            <hr/>
                            <span th:each="review : ${modalImage.getReviews()}">
                                <div class="row">
                                <div class="col-md-6">
                                <img src="#" th:src="${review.getUser().getPicture()}" alt="Avatar" class="avatar"
                                     style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
                        <h4 th:text="${review.getUser().username + ' ' + '(' + review.getUser().firstName + ' '
                        + review.getUser().lastName + ')'}">
                            Username</h4>
                                </div>
                                    <div class="col-md-6 py-4">
                                  <h4 th:text="${review.getComment().getValue()}">127</h4>
                                    </div>
                                </div>
                                <hr/>
                            </span>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:unless="${ not#lists.isEmpty(currentContest.getImages())}">
    <section id="three2" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <h2 class="font-weight-bold"> NO Photos registered for this Contest</h2>
            </header>
        </div>
    </section>
</div>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Telerik Academy (Team 18). All rights reserved.
    </div>
</footer>

<!-- Scripts -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.scrollex.min.js" th:src="@{/js/jquery.scrollex.min.js}"></script>
<script src="../static/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

</body>
</html>