<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page error</title>
    <link href="../static/css/not-found.css" th:href="@{/css/not-found.css}" rel="stylesheet"/>
</head>
<body>

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Ubuntu:300,400,500,700" rel="stylesheet">
</head>
<div class="box">
    <div class="eye">
    </div>
    <div class="eye">
    </div>
    <div class="smile">
    </div>
    <br><br>
    <div class="text-404">
        <h2 class="head">This is your face right now, isn't it?</h2>
        <h4 class="sub">You encountered a 404.</h4>
        <p class="sublow">We are working to fix the issue. <br>In the meantime, let's put a smile on that face :)
        </p>
        <a href="#">
            <button class="button button4" onclick="window.history.go(-1)">Back</button>
        </a>
    </div>
</div>

<!--<div th:if="${emptyList != null}">-->
<!--    <div class="error">-->
<!--        <div class="error__title">409</div>-->
<!--        <div class="error__subtitle">Hmmm...</div>-->
<!--        <div class="error__description" th:text="${emptyList}"></div>-->
<!--        <a href="#">-->
<!--            <button onclick="window.history.go(-1)">Back</button>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:if="${emptyList == null}">-->
<!--    <div class="error">-->
<!--        <div class="error__title">400</div>-->
<!--        <div class="error__subtitle">Hmmm...</div>-->
<!--        <div class="error__description">Invalid URL</div>-->
<!--        <a href="#">-->
<!--            <button onclick="window.history.go(-1)">Back</button>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>