<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>PhotoContest</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet"/>
</head>
<body>

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/">PhotoContest <span>by TEAM 18</span></a></div>
    <a>
        <tl th:if="${currentUser != null }">
            <img src="#" th:src="${currentUser.getPicture()}" alt="Avatar" class="avatar"
                 style="vertical-align: middle;
                             width: 35px;
                             height: 35px;
                             border-radius: 50%;"/>
            <a href="#" th:text="${currentUser.firstName}" th:href="@{/users/{id}(id=${currentUser.id})}">Username</a>
        </tl>
    </a>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<div th:include="general.html :: nav-bar"></div>

<!-- Banner -->
<section class="banner full">
    <article>
        <img src="../static/img/slide01.jpg" th:src="@{/img/slide01.jpg}" alt=""/>
        <div class="inner">
            <header>
                <p>A free responsive web site template by <a href="https://templated.co">TEAM 18</a></p>
                <h2>Photo Contest</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="../static/img/slide022.jpg" th:src="@{/img/slide02.jpg}" alt=""/>
        <div class="inner">
            <header>
                <p>Don’t shoot what it looks like</p>
                <h2>Shoot what it feels like</h2>
            </header>
        </div>
    </article>
    <article>
        ------------------------------------------------------------------------
        <img src="../static/img/slide03.jpg" th:src="@{/img/slide03.jpg}" alt=""/>
        <div class="inner">
            <header>
                <p>From phones to sheet film, just get shooting</p>
                <h2>Any camera will do</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="../static/img/slide04.jpg" th:src="@{/img/slide04.jpg}" alt=""/>
        <div class="inner">
            <header>
                <p>Letting great images shine, whoever the photographer is</p>
                <h2>Meritocracy</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="../static/img/slide05.jpg" th:src="@{/img/slide05.jpg}" alt=""/>
        <div class="inner">
            <header>
                <p>story that I fail to put into words</p>
                <h2>Photography is the story </h2>
            </header>
        </div>
    </article>
</section>

<!-- One -->
<div class="tab-content">
    <div th:if="${ not#lists.isEmpty(contests)}">
        <section id="one" class="wrapper style2">
            <div class="inner">
                <div class="grid-style">
                    <tr th:each=" contest, iterStat : ${contests}" th:if="${iterStat.index}<4">
                        <div class="box">
                            <div class="image fit">
                                <img src="#" th:src="${contest.coverPhoto.imageUrl}" alt="" width="600"
                                     height="400"/></div>
                            <div class="content">
                                <header class="align-center">
                                    <p th:text="${'Time to phase 2:'}">Time to phase</p>
                                    <h5 id="timer" th:id="'timer-' + ${iterStat.index}"
                                        th:text="${contest.phase2FromHour}">Deadline Date</h5>


                                    <h2><a th:text="${contest.title}" th:href="@{/contests/{id}(id=${contest.id})}">Contest
                                        Name</a></h2>
                                </header>
                                <p> Join millions of creatives in daily challenges and photo contests. Get started
                                    for
                                    free and upload your first photo now.</p>
                                <footer class="align-center" th:if="${contest.phase.name.equals('Phase 1') }">

                                    <div th:if="${contest.users.contains(currentUser) || currentUser != null && currentUser.isAdmin() ||
                                      contest.jury.contains(currentUser) || currentUser == null}">

                                        <button type="button" class="button alt" data-toggle="modal"
                                                data-target="#exampleModal">
                                            ENTER NOW
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content" style="background-image: url(../img/a4.jpg);">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="font-weight: bold; color:black;">
                                                        We cannot admit you to the contest:
                                                        1) You need to register first.
                                                        2) The user is already registered in contest.
                                                        3) Organizers can not enroll to contest.
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:unless="${contest.users.contains(currentUser) || currentUser != null && currentUser.isAdmin() ||
                                     contest.jury.contains(currentUser) || currentUser == null}">
                                        <a href="#" class="button alt"
                                           type="button"
                                           data-toggle="modal"
                                           th:attr="data-target=${'#enrollModal'+ contest.getId()}">ENTER NOW</a>
                                    </div>

                                </footer>
                            </div>

                            <script th:inline="javascript">
                                var x = setInterval(function () {
                                    var countDownDate = new Date([[${contest.phase2FromHour}]]).getTime();
                                    var index = [[${iterStat.index}]];

                                    var now = new Date().getTime();

                                    var distance = countDownDate - now;

                                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                    document.getElementById('timer-' + index).innerHTML = days + "d " + hours + "h "
                                        + minutes + "m " + seconds + "s ";
                                    if (distance < 0) {
                                        clearInterval(x);
                                        document.getElementById('timer-' + index).innerHTML = "Loading..";
                                    }
                                }, 1000);
                            </script>
                        </div>
                    </tr>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Contest Enroll Modal -->
<div class="modal fade" role="dialog" th:each="modalContest : ${contests} "
     th:id="${'enrollModal'+ modalContest.getId()}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-image: url(../img/a4.jpg);">
            <div class="modal-header">
                <h5 class="modal-title">Enroll in contest</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <ul class="nav nav-tabs" id="myUpdateTam" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="user-changes-tab" data-toggle="tab"
                       href="#enroll-contest"
                       role="tab"
                       aria-controls="enroll-contest"
                       aria-selected="true">Please upload image</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="enroll-contest" role="tab"
                     aria-labelledby="user-changes-tab">
                    <form action="#" th:action="@{'/contests/{id}/enroll'(id=${modalContest.id})}"
                          th:object="${imageDto}"
                          method="post" enctype="multipart/form-data">
                        <!-- Upload Image TO Contest Modal -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label style="margin: 0px 350px">Title</label>
                                <input class="form-control" type="text" name="title"
                                       th:value="${imageDto.getTitle()}" style="margin: 0px 180px">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label style="margin: 0px 350px">Story</label>
                                <textarea id="story" name="story"
                                          rows="5" cols="33"
                                          th:value="${imageDto.getStory()}" style="margin: 0px 180px">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label th:text="#{contests.label.pictureURl}" style="margin: 0px 350px">URL</label>
                                <input class="form-control" type="url" name="url"
                                       th:value="${imageDto.getUrl()}" style="margin: 0px 180px">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2 py-md-4">
                                <label type="file"
                                       class="btn btn-primary"
                                       for="enrollImageIndex" style="margin: 0px 260px">Or
                                    upload file</label>
                                <input hidden="hidden" type="file"
                                       name="enrollImageIndex"
                                       id="enrollImageIndex"
                                       accept="image/png, image/jpeg, image/jpg">
                            </div>
                            <div class="form-group col-md-2 py-md-4">
                                <button type="submit" class="btn btn-primary" style="margin: -6px 280px">Submit</button>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>Beauty can be seen in all things,
                seeing and composing the beauty is what separates the snapshot from the photograph</p>
            <h2>Photography is the pause button of life</h2>
        </header>
    </div>
</section>

<!-- Three Photo Winner -->
<div th:if="${ not#lists.isEmpty(winnerImages)}">
    <section id="three" class="wrapper style2">
        <div class="inner">
            <header class="align-center">
                <p class="special">Only some of the photos they won in the contests are shown.</p>
                <h2>Photos winners in previous contest:</h2>

            </header>
            <div class="gallery">
                <tr th:each="image, pStat : ${winnerImages}" th:if="${pStat.index}<4">
                    <div>
                        <img src="#" th:src="${image.imageUrl}" alt=""
                             width="600" height="400"/>
                        <h3 class="align-center" th:text="${image.title}">Title</h3>
                        <h4 class="align-center" th:text="${image.story}">Story</h4>
                    </div>
                </tr>
            </div>
        </div>
    </section>
</div>


<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span
                    class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li><a href="#" class="icon fa-instagram"><span
                    class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Telerik Academy (Team 18). All rights reserved.
    </div>
</footer>

<!-- Scripts -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/jquery.scrollex.min.js"
        th:src="@{/js/jquery.scrollex.min.js}"></script>
<script src="../static/js/skel.min.js" th:src="@{/js/skel.min.js}"></script>
<script src="../static/js/util.js" th:src="@{/js/util.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

</body>
</html>