<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<img class="wave">
<div class="container">
    <div class="img">
    </div>
    <div class="login-content">
        <form th:action="@{/login}" method="post" th:object="${loginDto}">
            <img src="img/avatar.svg">
            <h2 class="title" th:text="#{login.welcome}">Welcome to Photo Contest</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div" id="border">
                    <h5 th:text="#{login.username}">Username</h5>
                    <input type="text" class="input" required autofocus th:field="*{username}">
                    <p th:errors="*{username}">Wrong username/password</p>
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div" id="border2">
                    <h5 th:text="#{login.password}" th:field="*{password}">Password</h5>
                    <input type="password" class="input" required autofocus th:field="*{password}">
                </div>
            </div>
            <a id="pass" href="#" th:text="#{login.forget.password}">Forgot Password?</a>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>
<!-- Scripts -->
<script type="text/javascript" src="js/login.js"></script>

</body>
</html>