<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not authorized</title>
    <link href="../static/css/not-authorized.css" th:href="@{/css/not-authorized.css}" rel="stylesheet"/>
</head>
<body>


<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">403</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">can't let <span>you</span> in.</span>
        <span class="support">
      <span>Not this time...</span>
      <a href="#">Access Forbidden</a>
    </span>
    </div>
    <div class="lock"></div>
</div>
<br/>
<br/>
    <a class="back" href="#">
        <button class="button button4" onclick="window.history.go(-1)">Back</button>
    </a>

</body>
</html>