<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<img class="wave">
<div class="container">
    <div class="img">
    </div>
    <div class="login-content">
        <form th:action="@{/register}" method="post" th:object="${registerDto}">
            <!--            <img src="img/avatar.svg">-->
            <!--            <h2 class="title" th:text="#{login.welcome}">Welcome</h2>-->

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div" id="border">
                    <h5 th:text="#{login.username}">Username</h5>
                    <input type="text" class="input" required autofocus th:field="*{username}">
                    <p th:errors="*{username}">Username already exist!</p>
                </div>
            </div>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="div" id="border2">
                    <h5 th:text="#{register.email}">Email</h5>
                    <input type="email" class="input" required autofocus th:field="*{email}">
                    <p th:errors="*{email}">We have already member with same email!</p>
                </div>
            </div>

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div" id="border3">
                    <h5 th:text="#{login.password}" th:field="*{password}">Password</h5>
                    <input type="password" class="input" required autofocus th:field="*{password}" pattern=".{8,}"
                           title="8 or more characters">
                    <p th:errors="*{password}">Password error.</p>
                </div>
            </div>

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div" id="border4">
                    <h5 th:text="#{register.repeatPassword}" th:field="*{repeatPassword}">Repeat Password</h5>
                    <input type="password" class="input" required autofocus th:field="*{repeatPassword}">
                </div>
            </div>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div" id="border5">
                    <h5 th:text="#{register.firstName}">First name</h5>
                    <input type="text" class="input" required autofocus th:field="*{firstName}">
                </div>
            </div>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div" id="border6">
                    <h5 th:text="#{register.lastName}">Last name</h5>
                    <input type="text" class="input" required autofocus th:field="*{lastName}">
                </div>
            </div>

            <a id="pass" href="#" th:href="@{/login}" th:text="#{register.have.account}">Already have account?</a>
            <input type="submit" class="btn" value="Register">
        </form>
    </div>
</div>
<!-- Scripts -->
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>