/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Aleo Italic'), local('Aleo-Italic'),
    url(https://fonts.gstatic.com/s/aleo/v3/c4mh1nF8G8_swAj50xVssIV1_A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Aleo Bold Italic'), local('Aleo-BoldItalic'),
    url(https://fonts.gstatic.com/s/aleo/v3/c4mi1nF8G8_swAjxaDB5nad41qC3WQ.woff2)
    format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Aleo Regular'), local('Aleo-Regular'),
    url(https://fonts.gstatic.com/s/aleo/v3/c4mv1nF8G8_swA3J0R9rkoc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'SB Heading';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Aleo Bold'), local('Aleo-Bold'),
    url(https://fonts.gstatic.com/s/aleo/v3/c4mg1nF8G8_syLbsxDJJn61_9KI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}