body{
    background: #414647;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#414647, #989898);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414647,  #989898); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.eye{
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    display: inline-block;
    margin-right: 125px;
    border-radius: 50%;
}
.box{
    margin-top: 8%;
    margin-left:15%;
}

.smile{
    /*border-bottom: 2px solid #2c2c2c;
    width: 240px;
    heigth:240px;
    margin-top: 8em;
    border-radius: 50%/100px 100px 0 0;*/
    margin-left:30px;
    width: 150px;
    height: 80px;
    border: solid 5px #f2f2f2;
    border-color: transparent transparent #f2f2f2 transparent;
    /*border-radius: 0 0 180px 90%/-15px;*/
    transition: border-radius 0.5s;
}

.smile:hover{
    cursor: pointer;
    border-radius: 0 0 180px 70%/70px;
}
.text-404{
    color: #f2f2f2;
}
.head{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0;
}

.sub{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #eaeaea;
}
.sublow{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.button {
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4 {
    background-color: #aaa8a8;
    color: black;
    border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}