body img {

    margin: auto;
    display: flex;
    justify-content: right;
}

#headerImg {
    margin-top: 8rem;
    width: 20vw;
}

#search-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 50px;
}

input {
    width: auto;
}

.container-beer-items p {
    display: flex;
    justify-content: center;
}

.container-beer-items h6 {
    display: flex;
    justify-content: center;
}

.card-title {
    display: flex;
    justify-content: center;
}

/*#row .btn{*/
/*    margin-top: 3%;*/
/*     display: flex;*/
/*     justify-content: center;*/
/* }*/


.input-group select:hover {
    background-color: lightgray;
    cursor: pointer;
}

input:hover {
    background-color: lightgray;
    cursor: pointer;
}

.logo {
    margin-top: 50%;
}

.navbar {
    position: relative;
}

#top-beers {
    display: flex;
    justify-content: center;
    text-align: center;
}

.results {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 40px;
}

.results-similar {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*grid-template-rows:  repeat(4, 1fr);*/
    margin: 40px;
}

#results-beer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;

}

#results-beer .card {
    height: 350px;
    margin: 10px;
    text-decoration: none;
}

#results-beer .card:hover {
    text-decoration: none;
    text-underline: none;
}

.card {
    display: flex;
    justify-content: center;
}

.results .card {
    background-color: #e4e4e4;
}

.results-similar .card {
    background-color: #e4e4e4;
}

#container-beer-stats {
    margin-top: 10rem;
    margin-bottom: 250px;
}

.addrss-list td {
    display: flex;
    justify-content: center;
}

/*Comment section*/

.be-comment-block {
    margin-bottom: 50px !important;
    border-radius: 2px;
    padding: 50px 70px;
    border: 1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}


.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul > li {
    float: left;
}

.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}

.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button > i {
    margin-right: 7px;
}

/*----*/
#success_message {
    display: none;
}

.container-beer-items {
    display: flex;
    justify-content: center;
    height: auto;
!important;
}

/*.row .card img {*/
/*    width: 200px;*/
/*    height: 250px;*/
/*}*/
/*.divider-custom-icon{*/
/*    margin-left: 5%; !important;*/
/*    !*margin-right: 2%; !important;*!*/
/*}*/
.input-file-dummy, .input-file-btn {
    cursor: pointer;
}

.input-file-dummy[readonly] {
    background-color: white;
}

.tags-beer-card {

    display: inline-block;
    color: red;
}

.picture {
    height: 250px;
    width: 100%;
}

.picture2 img {
    height: 120px;
    width: 50%;
}

.beer-card-pictures {
    max-width: 20rem;
    height: 30vh;
    object-fit: cover;
    object-position: center;

}

.beer-card-pictures-similar {
    height: 20vh;
    object-fit: cover;
    object-position: center;

}

.beer-picture {
    height: 50vh;
    object-fit: cover;
    object-position: center;
    border: inset;
}

.overflow-dots {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.card {*/
/*    height:500px; !important;*/
/*    width:100%; !important;*/
/*}*/